$color-gray-1: #F1F3F2; /* Light gray */
$color-gray-2: #272727; /* Dark gray */
$color-gray-3: #9d9d9d; /* Medium light gray */
$color-gray-4: #3c3c3c;
$color-gray-5: #E9ECEB;


$color-blue-1: #5FB0D8; /* Blue */
$color-blue-2: #3E95C0;


$color-green-1: rgb(39, 181, 183); /* Green */

$color-red-1: #D5684D; /* Red */

/* General */
$color-white: #fff;
$color-black: #000;
