$block-margin: calc((100% - (47% * 2)) / 3);
$dashboard-height: calc(100% - 50px);

.dashboard {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-content:flex-start;
	overflow-y: auto;
	height: $dashboard-height;
	background-color: $color-gray-1;

	.block {
		width: 47%;
		height: 150px;
		padding: 20px;
		margin-bottom: $block-margin;
		margin-left: $block-margin;
		color: $color-gray-4;
		background-color: white;
		box-shadow: 0 0 5px 1px $color-gray-5;

		&:first-child,
		&:nth-child(2) {
			margin-top: $block-margin;
		}

		&:nth-child(even) {
			margin-left: $block-margin;
		}

		.currency {
			font-size: 20px;
			font-weight: 400;
		}
		.table {
			margin-top: 10px;
		}
		.row {
			display: flex;
			padding: 3px 0;
			&:first-child {
				margin-bottom: 8px;
				border-bottom: 1px solid $color-gray-1;
			}
		}
		.column {
			flex: 1;
			text-align: right;
		}
		.exchange {
			flex: 0 1 auto;
			width: 80px;
			text-align: left;
		}
		.pct {
			flex: 0 1 auto;
			width: 120px;
		}
	}
}
