.header {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: $color-blue-2;

	.header-column {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.logo {
		justify-content: center;
		width: 210px;
		/* width: 15%; */
		/* min-width: 210px; */
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 2px;
		color: $color-gray-1;
	}

	.page-title {
		flex: 1;
		padding-left: 30px;
		font-size: 20px;
		letter-spacing: 1px;
		color: $color-gray-1;

	}

	.icon-container {
		justify-content: center;
		width: 70px;
		height: 70px;
	}
}
